<!DOCTYPE html>
<html>
<head>
  <title>Sampler</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_tag do %>
    window.studyToken = <%= params[:token].to_json.html_safe %>
  <% end %>
  <%= javascript_include_tag "application" %>
</body>
</html>
