<h2 class="prompt">How do you feel right now?</h2>
<h3>Study: <span class="study-token"></span></h3>
<form {{action "save" on="submit"}}>
  <div class="radio-buttons">
    {{score-radio-button score="-2" selected=sample.score}}
    {{score-radio-button score="-1" selected=sample.score}}
    {{score-radio-button score="0" selected=sample.score default=true}}
    {{score-radio-button score="+1" selected=sample.score}}
    {{score-radio-button score="+2" selected=sample.score}}
  </div>
  <div class="notes-field">
    {{textarea value=sample.notes cols="40" rows="2"}}
  </div>
  <div class="submit-button">
    {{input type="submit" value="save"}}
  </div>
  <div class="summary-text">
    <h3>I feel <span>{{sample.score}}</span> right now, and yesterday I felt<span>{{sample.samples.average}}</span>.</h3>
  </div>
</form>
