<div id="scoring-container">
  <h1 class="title">Samples</h1>
  <h2 class="prompt">How do you feel right now?</h2>
  <form {{action "save" on="submit"}}>
    <div class="radio-buttons">
      {{score-radio-button score="-2" selected=model.score}}
      {{score-radio-button score="-1" selected=model.score}}
      {{score-radio-button score="0" selected=model.score}}
      {{score-radio-button score="+1" selected=model.score}}
      {{score-radio-button score="+2" selected=model.score}}
    </div>
    <div class="notes-field">
      {{textarea value=model.notes cols="40" rows="2"}}
    </div>
    <div class="submit-button">
      {{input type="submit" value="save"}}
    </div>
    <div class="summary-text">
      <h3>I feel <span>{{model.score}}</span> right now, and <span>{{model.score}}</span> today.</h3>
    </div>
  </form>
</div>
